#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, lightcoral, lightblue);
  font-size: 20px;
  color: #fff;
}

.avatar {
  width: 200px;
  border-radius: 50%;
  transition: all 0.3s;
}

.avatar:hover {
  transform: scale(1.1);
}

.content {
  padding: 20px;
}
